<h2>编辑工作</h2>
  <div class="col-md-6">

<%= simple_form_for @job do |f| %>

 <%= f.input :title, :label => "名称" %>
 <%= f.input :description, :label => "描述" %>
 <%= f.input :wage_lower_bound, :label => "薪资下限" %>
 <%= f.input :wage_upper_bound, :label => "薪资上限" %>
 <%= f.input :contact_email, :label => "联系邮件" %>
 <%= f.input :is_hidden %>
 <%= f.submit "Submit" %>

 <% end %>
 </div>
