<div class="container">
<div class="row">
    <div class="col-md-12">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li class="">
        <a data-toggle="tab" href="#category-0">产品</a>
      </li>
      <li class="active">
        <a data-toggle="tab" href="#category-1">技术</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-3">设计</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-4">运营</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-5">市场与销售</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-7">职能</a>
      </li>
    </ul>

  <!-- <div class="dropdown clearfix pull-right"> -->
  <div class="btn-group pull-right" role="group" aria-label="...">
      <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound"), :class => "btn btn-default", :data => {:toggle => "button"}) %>
      <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound"), :class => "btn btn-default") %>
      <%= link_to("按照发表时间排序", jobs_path, :class => "btn btn-default") %>
    </div>

    <br>
    <br>
<!-- </div> -->
 <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th>薪资范围</th>
    <th>联系方式</th>
    <th>时间</th>
  </tr>
  </thead>

  <tbody>
   <% @jobs.each do |job| %>
   <tr>
    <td><%= link_to(job.title, job_path(job)) %></td>
    <td>
      <div class="job.description">
         <%= simple_format(job.description) %>
      </div>
    </td>
    <td width="30%">
      <span>
        <span class="fa fa-rmb"></span><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> 元
      </span>    
    </td>
    <td><%= job.contact_email %></td>
    <td><%= job.created_at %></td>
   </tr>
   <% end %>
  </tbody>
  </table>

  <div class="text-center col-md-12 pagination">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %> 
    </div>

</div>
</div>
</div>


