<div class="row">
<div class="col-md-12">
    <div class="pull-right">
      <%= link_to("新增工作", new_job_path, :class => "btn btn-default" ) %>
    </div>
 <table class="table table-bordered">
  <thead>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th>时间</th>
    <th>选项</th>
  </tr>
  </thead>

  <tbody>
   <% @jobs.each do |job| %>
   <tr>
    <td>
        <%= render_job_status(job) %>
        <%= link_to(job.title, admin_job_path(job)) %>
    </td>
    <td><%= job.description %></td>
    <td><%= job.created_at %></td>
    <td>
     <%= link_to("编辑", edit_admin_job_path(job), :class => "btn btn-sm btn-default") %>
     <%= link_to("删除", admin_job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-sm btn-default") %>
      <% if job.is_hidden %>
      <%= link_to("发布", publish_admin_job_path(job), :method => :post,  :class => "btn btn-sm btn-default") %>
      <% else %>
      <%= link_to("隐藏", hide_admin_job_path(job), :method => :post, :class => "btn btn-sm btn-default") %>
      <% end %>
    </td>

   </tr>
   <% end %>
  </tbody>
 </table>
</div>
</div>
